.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    row-gap: 1rem;
    padding: 1rem 0;
    width: 46rem;
    height: 100%;
    border: 1px solid white;
}

.box {
    display: flex;
    width: 10rem;
    height: 10rem;
    background-color: aqua;
    border: 1px solid white;
}

.growing-box {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid white;
}

.white {
    background-color: aliceblue;
}