.grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background-color: rgb(141, 141, 141);
    border: 3px solid wheat;
    border-radius: 0%;
}