.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: rgb(39, 39, 39);
    border: 3px solid rgb(204, 204, 204);
    border-radius: 0%;
}

.on {
    background-color: white;
    border-color: azure;
}